.banner-container {
	width: 100%;
	background-color: white;
	position: fixed;
	top: 0;
}


.banner {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-align: center;
	margin: 0 auto;
	padding: 1em;
}

.banner a {
	text-decoration: none;
	color: #E45250;
	font-weight: 400;
	font-size: 1.2em;
	line-height: 2em;
}

@media screen and (min-width:768px) {
	.banner {
		width: 70%;
	}
	.banner a {
		font-size: 2em;
	}
}