.contact-container {
	background-color: #AD59591C;
	padding: 2em .8em;
}

.lets-talk {
	font-size: 1.3em;
	margin-bottom:.5em;
	color: #8c8c8c;
}

.contact-form {
	display: flex;
	flex-direction: column;
}

.text-field {
	margin-bottom: .3em;
	padding: 1em .5em;
	border: none;
}

#text-area {
	height: 10em;
}

::placeholder {
	font-family: "Playfair Display", sans-serif;
	color: #E88D8D;
}

.contact-content {
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
}

.submit {
	background-color: #E88D8D;
	border: none;
	color: white;
	font-family: "Playfair Display", sans-serif;
	padding: 1em .5em;
}

.me-and-socials {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.me-and-socials img{
	width: 150px;
	height: 150px;
	border-radius: 50%;
}

.socials-container {
	margin: 1em auto;
}

.socials-container img {
	height: 20px;
	width: 20px;
	margin: 0 .5em;
}

@media screen and (min-width:768px) {
	.contact-container {
		width: 100%;
		padding: 2em 0;
		align-items: flex-end;
	}

	.contact {
		width: 60%;
		margin: 0 auto;
		padding-left: 6em;

	}

	.lets-talk {
		font-size: 2.5em;
		margin: 1.5em 0;
	}

	.contact-content {
		width: 90%;
	}

	.contact-form {
		width: 50%;
	}

	::placeholder {
		font-size: 1.5em;
	}

	.contact-form input {
		width: 50%;
	}

	.text-field, .submit {
		margin: 1em 0;
		border: none;
		padding: 1em .5em;
		width: 100%;
	}

	#text-area {
		width: 100%;
	}

	.me-and-socials {
		display: flex;
		width: 50%;
	}

	.me-and-socials .my-image {
		height: 300px;
		width: 300px;
	}

	.socials-container img {
		height: 30px;
		width: 30px;
	}

}