footer {
  color: #9e2e3a;
  font-size: 0.7em;
  text-align: center;
  margin: 0.5em auto;
}

@media screen and (min-width: 768px) {
  footer {
    font-size: 1em;
    padding: 1em;
    font-weight: 600;
  }
}
