.projects-container {
	width: 100%;
	background-color: #AD59591C;
}

.projects-content {
	padding: 1em .8em;
	margin: 1em auto;
	align-items: center;
}

.project-header {
	font-size: 2.5vmax;
	font-weight: 500;
	color: #e45250;
}

.project-item {
	display: flex;
	flex-direction: row;
	margin: 2em auto;
	flex-wrap: wrap;
}

.project-description {
	font-family: 'Comfortaa', cursive;
	letter-spacing: 1px;
}

.demo {
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 1em auto;
	max-width: 80%;
}


.buttons {
	margin: 0 auto;
}

.buttons button {
	background-color: Transparent;
	background-repeat:no-repeat;
	border: none;
	text-decoration: underline;
	color: #8C8C8C;
	line-height: .5em;
	width: 50%;
	font-family: "Playfair Display", sans-serif;
	padding: 0 1em;
	cursor: pointer;
}


.description {
	display: flex;
	flex-direction: column;
	line-height: 1.2em;
}

.project-title {
	font-size: 2vmax;
	font-weight: 500;
	color: #434044;
	margin: 1em 0;
}

.project-description {
	font-size: 1.5vmax;
	margin-bottom: 1.5em;
	color: #434044;
}

.project-links {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.project-links a{
	font-size: .8em;
	line-height: 1.5em;
	color: #8C8C8C;
	font-weight: 500;
}

.tech-used-icon {
	max-width: 20px;
	margin: 0 .5em .5em 0;
	filter: invert(70%) sepia(1%) saturate(0%) hue-rotate(145deg) brightness(79%) contrast(91%);
}

@media screen and (min-width:768px) {
	
	.projects-content {
		width: 70%;
		margin: 2em auto;
	}

	.project-header {
		font-size: 3.5vmin;
	}

	.project-item {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
	}

	.description {
		width: 50%;
	}

	.project-title {
		font-weight: 550;
		font-size: 2.5vmin;
	}

	.project-description {
		line-height: 1.5em;
		font-size: 1.7vmin;
	}

	.project-links {
		font-size: 1.3em;
	}

	.demo {
		width: 50%;
		margin: auto;
	}

	.mobile-demo {
		height: 350px;
		width: 180px;
	}

	.buttons {
		align-items: center;
	}

	.buttons button {
		font-size: 1.2em;
		width: 50%;
		margin: 0 auto;
	}

	.tech-used-icon {
		width: 25px
	}

}