@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Playfair+Display:ital,wght@0,400;0,500;1,400&display=swap");

.App {
  font-family: "Playfair Display", serif;
  display: flex;
  flex-direction: column;
  width: 100%;
}
